force-app/main/default/flows/Auto_Close_Med_Approvals_on_Opp_Closure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Captures the current Approval_Status__c and Review_Type__c values from the current Med Approval record in the loop and stores them in flow variables. These values are preserved in 'Pre-Closure' fields before the Med Approval is closed, enabling restoration if the opportunity is reopened later. This assignment acts as a backup mechanism to maintain the original approval state, which is critical for compliance auditing and preventing loss of approval history.</description>
        <name>ApprovalStatusPrior</name>
        <label>Store Prior Approval Values</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ApprovalStatusPreClosure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_until_All_Closed.Approval_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewStatusPreClosure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_until_All_Closed.Review_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_out_the_Med_Approval</targetReference>
        </connector>
    </assignments>
    <description>BUSINESS PROCESS: Automatically closes all related Case_Med_Approval__c records when an opportunity's stage changes to 'Closed'. Loops through all Med Approvals for the opportunity, preserves their current status values in 'Pre-Closure' fields (for potential restoration if reopened), then sets both Approval_Status__c and Review_Type__c to 'Closed via Opportunity'. Only closes Med Approvals that are not already Denied, Closed via Opportunity, or Approved. This ensures Med Approvals don't remain open when the associated opportunity is closed, maintaining data integrity and preventing orphaned approval records. Critical for compliance tracking and workflow management. Refactored from Case to Opportunity object.</description>
    <interviewLabel>Auto-Close Med Approvals on Opp Closure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto-Close Med Approvals on Opp Closure</label>
    <loops>
        <description>Iterates through the collection of all Med Approval records (OppMedApprovals) related to the closed opportunity. For each Med Approval in the collection, the loop executes the assignment to store prior values, then updates the record to close it. Continues iterating until all Med Approvals in the collection have been processed. This loop ensures that all related approvals are systematically closed, preventing any from being inadvertently skipped. Iterates in ascending order for consistency.</description>
        <name>Loop_until_All_Closed</name>
        <label>Loop Through All Med Approvals</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>OppMedApprovals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ApprovalStatusPrior</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Queries the Opportunity object to retrieve the full record for the opportunity that triggered this flow. This lookup refreshes the opportunity data to ensure all fields are available for reference in subsequent steps. While the trigger provides $Record context, this explicit lookup ensures complete field access. Stores all fields automatically for use throughout the flow. Proceeds to query related Med Approval records.</description>
        <name>Get_All_Opp_Info</name>
        <label>Get Current Opportunity</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Med_Approval_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Queries all Case_Med_Approval__c records where the Opportunity__c field matches the current opportunity's ID. Retrieves Id, Approval_Status__c, and Review_Type__c fields for each related Med Approval. Stores results in the OppMedApprovals collection variable, which is then used by the loop to process each approval. If no Med Approvals are found, assigns null and the flow ends gracefully. This query identifies all approvals that need to be closed when the opportunity closes.</description>
        <name>Get_Related_Med_Approval_Info</name>
        <label>Get All Related Med Approvals</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_until_All_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case_Med_Approval__c</object>
        <outputReference>OppMedApprovals</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approval_Status__c</queriedFields>
        <queriedFields>Review_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates the current Med Approval record in the loop by: (1) Storing the original Approval_Status__c and Review_Type__c values in the Pre-Closure fields (enabling restoration if opportunity reopens), (2) Setting both Approval_Status__c and Review_Type__c to 'Closed via Opportunity'. Only updates records that are NOT already Denied, Closed via Opportunity, or Approved - these statuses are considered final and should not be overwritten. After updating, loops back to process the next Med Approval. This update ensures Med Approvals are properly closed while preserving their history for audit and potential reopening scenarios.</description>
        <name>Close_out_the_Med_Approval</name>
        <label>Close Med Approval and Store Prior Values</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Loop_until_All_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_until_All_Closed.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed via Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status_Pre_Closure__c</field>
            <value>
                <elementReference>ApprovalStatusPreClosure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Closed via Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Type_Pre_Closure__c</field>
            <value>
                <elementReference>ReviewStatusPreClosure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Type__c</field>
            <value>
                <stringValue>Closed via Opportunity</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Med_Approval__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Opp_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01261000000X5QbAAK</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable that stores the Approval_Status__c value from a Med Approval record before it's closed. Used as a temporary holder in the loop to pass the original status value to the Pre-Closure field, enabling status restoration if the opportunity is reopened. Type: Text. Collection: No. Input/Output: Both (allows value to be passed in and out of subflows if needed for future enhancements).</description>
        <name>ApprovalStatusPreClosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable that stores the collection of Case_Med_Approval__c records related to the closed opportunity. Populated by the Get Related Med Approval Info lookup query and used as the collection for the loop. Contains all Med Approval records that need to be processed and closed. Type: SObject (Case_Med_Approval__c). Collection: Yes. Input: Yes. Output: No (only used within this flow).</description>
        <name>OppMedApprovals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Med_Approval__c</objectType>
    </variables>
    <variables>
        <description>Variable that stores the Review_Type__c value from a Med Approval record before it's closed. Used as a temporary holder in the loop to pass the original review type value to the Pre-Closure field, enabling review type restoration if the opportunity is reopened. Type: Text. Collection: No. Input/Output: Both (allows value to be passed in and out of subflows if needed for future enhancements).</description>
        <name>ReviewStatusPreClosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
