force-app/main/default/flows/Calculate_Days_Since_Last_Prior_Discharge_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_the_facility</name>
        <label>Check the facility</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_the_facility_IP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Facility__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(IP)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Record_Type_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Opportunity_From_Account</targetReference>
            </connector>
            <label>Check the facility (IP)</label>
        </rules>
        <rules>
            <name>Check_the_facility_OP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Facility__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(OP)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Record_Type_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Opportunity_From_Account_for_OP</targetReference>
            </connector>
            <label>Check the facility (OP)</label>
        </rules>
    </decisions>
    <description>Calculates days since the last inpatient or outpatient discharge based on Admission Date - Refactored from Case to Opportunity</description>
    <environments>Default</environments>
    <formulas>
        <name>TotalCountDiffrence</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Admission_Date__c} - {!Get_All_Opportunity_From_Account.Discharge_Datecc__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalCountDiffrenceOP</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Admission_Date__c} - {!Get_All_Opportunity_From_Account_for_OP.Discharge_Datecc__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Days since (Opp) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Days Since Last Prior Discharge (Opp)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Opportunity_From_Account</name>
        <label>Get All Opportunity From Account</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_UpdateRecordOnOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discharge_Datecc__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.Admission_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discharge_Datecc__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Facility__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>(IP)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Discharge_Datecc__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Opportunity_From_Account_for_OP</name>
        <label>Get All Opportunity From Account for  OP</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateRecordOnOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discharge_Datecc__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.Admission_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Facility__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>(OP)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Discharge_Datecc__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Discharge_Datecc__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Record_Type_Id</name>
        <label>Record Type Id</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_facility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_2_0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_UpdateRecordOnOpportunity</name>
        <label>UpdateRecordOnOpportunity</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Days_since_last_IP_discharge__c</field>
            <value>
                <elementReference>TotalCountDiffrence</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecordOnOpportunity</name>
        <label>UpdateRecordOnOpportunity for OP</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Days_since_last_OP_discharge__c</field>
            <value>
                <elementReference>TotalCountDiffrenceOP</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Admission_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
