force-app/main/default/flows/OP_Opp_Workflow_Emails_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>NO_Previous_D_T</name>
        <label>NO Previous D/T</label>
        <locationX>776</locationX>
        <locationY>419</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Previous_D_T</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousNull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OP_Assessment_Rescheduled_Workflow</targetReference>
            </connector>
            <label>Check for Previous D/T</label>
        </rules>
    </decisions>
    <description>Refactored from Case to Opportunity - Triggers email workflow when OP opportunity assessment is rescheduled</description>
    <environments>Default</environments>
    <formulas>
        <name>PreviousNull</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record__Prior.Scheduled_Date_and_Time__c}))</expression>
    </formulas>
    <interviewLabel>OP Opportunity Workflow Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OP Opportunity Workflow Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>NO_Previous_D_T</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</filterLogic>
        <filters>
            <field>Sync_to_Avatar__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled for Admission</stringValue>
            </value>
        </filters>
        <filters>
            <field>Scheduled_Date_and_Time__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lighthouse at Mays Landing (OP)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lighthouse at Voorhees (OP)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Raritan Bay (OP)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monroeville (OP)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Indianapolis (OP)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Westminster (OP)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Danvers (OP)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Devon (OP)</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>OP_Assessment_Rescheduled_Workflow</name>
        <label>OP Assessment Rescheduled Workflow</label>
        <locationX>792</locationX>
        <locationY>575</locationY>
        <flowName>OP_Opp_Assessment_Rescheduled_Workflow</flowName>
        <inputAssignments>
            <name>varRecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
