force-app/main/default/flows/Transportation_Facility_Change_Post_Alert_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Record_to_Variable</name>
        <label>Assign Record to Variable</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>RecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Transportation_Request_Info.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewFacility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Facility__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriorFacility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Facility__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Facility_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Facility__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Facility__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Transportation_Request_Info.Alert_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Transportation_Cancellation_Email_Subflow</targetReference>
            </connector>
            <label>New Facility Selected</label>
        </rules>
    </decisions>
    <description>Refactored from Case to Opportunity - This Process has the specific purpose of handling the Transportation edge-case of canceling and resending alerts to facilities after transportation has been coordinated at the first facility, and now needs to change to another facility.</description>
    <interviewLabel>Transportation Facility Change Post-Alert (Opp) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transportation Facility Change Post-Alert (Opp)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Transportation_Request_Info</name>
        <label>Get Transportation Request Info</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Most_Recent_Transport_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transportation_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transportation_Request_Info</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Facility__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Schedule</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled for Admission</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Transportation_Cancellation_Email_Subflow</name>
        <label>Run Transportation Cancellation Email Subflow</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Run_Transportation_New_Email_Subflow</targetReference>
        </connector>
        <flowName>Transportation_Facility_Update_Subflow_1</flowName>
        <inputAssignments>
            <name>FacilityName</name>
            <value>
                <elementReference>PriorFacility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TransportID</name>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Run_Transportation_New_Email_Subflow</name>
        <label>Run Transportation New Email Subflow</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <flowName>Transportation_Facility_Update_Subflow_2</flowName>
        <inputAssignments>
            <name>FacilityName</name>
            <value>
                <elementReference>NewFacility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TransportID</name>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>NewFacility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Facility__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>PriorFacility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record__Prior.Facility__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Transportation_Request_Info.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>TransportRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Transportation_Request__c</objectType>
    </variables>
</Flow>
